body {
    background-color: rgb(247, 121, 184);
}
header{
    background-color: beige;
}
img {
    width: 200px;
    height: 300px;
}
div{
    background-color: beige;
    text-align: right;
}

#container1 {
 background-color: beige;
text-align: center;
}
.container2 {
 background-color: beige;
 text-align: right;
}