body {
    background-color: blanchedalmond;
}
header{
    background-color: rgb(221, 187, 253);
}
img {
    width: 200px;
    height: 300px;
}
div{
    background-color: rgb(53, 201, 201);
    text-align: right;
}

#container1 {
 background-color: rgb(178, 217, 233);
text-align: center;
}
.container2 {
 background-color: rgba(35, 255, 189, 0.849);
 text-align: right;
}