body {
    background-color: rgb(115, 41, 145);
}
header{
    background-color: rgb(221, 187, 253);
}
img {
    width: 200px;
    height: 300px;
}
div{
    background-color: rgba(240, 175, 248, 0.918);
    text-align: right;
}

#container1 {
 background-color: rgb(240, 175, 248, 0.918);
text-align: center;
}
.container2 {
 background-color: rgba(82, 219, 243, 0.849);
 text-align: right;
}